@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;400;700&family=Roboto:wght@100;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    color: var(--green-4);
}

:root{
    --purple-1: #22044c;
    --purple-2: #52056C;
    --purple-3: #b885ff;
    --purple-4: #dcc2ff;

    --green-1: #124c04;
    --green-2: #1F6C05;
    --green-3: #9eff85;
    --green-4: #ceffc2;
}

body{
    background-color: rgb(16, 14, 18);

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.main-div{
    background-color: var(--purple-1);

    display: flex;
    justify-content: center;
    align-items: center;

    width: 65vw;
    height: 65vh;

    margin : 5vw;
    border-radius: 2.5vw ;
}

/*----------------- Left Div-----------------*/ 
.left-div{

    width: 54%;
    height: 99%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.left-div .left-title{

    width: 90%;
    height: 20%;

    margin-top: 3%;
    font-family: 'Roboto', sans-serif;
    font-size: 2vw;
    text-align: center;

}

.left-img{
    height: 75%;
}

.left-img img{
    width: 100%;
    height: 100%;
}

/*----------------- Right Div -----------------*/ 
.right-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 44%;
    height: 99%;

}

.main-login{
    background-color: var(--purple-2);

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    width: 85%;
    height: 55%;

    border-radius: 1.5vw;
    padding: 1% 5%;
}

.main-login .title-login{
    font-family: 'Roboto', sans-serif;
    font-size: 1.75vw;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    padding: 0.25vw;
    border-radius: 1vw;
}

.main-form{
    height: 60%;
}

.main-form .user-form ,
.main-form .password-form {
    font-size: 0.75vw;
    font-family: 'Roboto Mono', monospace;
    margin: 2% 0%;
}

.user-input input,
.password-input input{
    font-size: 1.25vw;

    background-color: var(--purple-3);
    color: var(--purple-1);
    text-align: center;
    width: 100%;
    padding: 1%;
    margin-top: 2%;
    border-radius: 1vw;
    outline: none;
}

::placeholder {
    color: var(--purple-1);
    font-size: 1.25vw;
  }

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;    
    height: 20%;
}

.button button{
    background-color: var(--green-3);
    font-family: 'Roboto Mono', monospace;
    font-size: 1.5vw;
    font-weight: 700;
    
    width: 45%;
    height: 80%;
    
    border-radius: 0.5vw;

}

.button a{
    color: var(--purple-2);
    text-decoration: none;

    cursor: pointer;
}

.button :hover{
    background-color: var(--green-4);
    color: var(--purple-1);
    
    font-size: 1.30vw;


    width: 40%;
    height: 75%;
}

.create-account{
    padding-top: 3%;
}

.create-account a{
    font-size: 1.1vw;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}
